
  
body{background-color: #003333;
font-weight:normal;
color: white;}


a:link{color:#B24200;}
a:hover{color:#B24200;}
a:visited{color:#592100;}
a:active{color: white;}


   #sidebar{font-size:20px;
   	/*border: 2px solid #ff0000;*/
   	color: white;
   	text-align:center;
   	background-color: #FF5E00;
   	margin-top:30px;
   	width:200px;
   	height: 250px;
   	border-radius:15px;

	float:left;



  }


  #usage{color:#FF5E00;
    font-weight:bold;
    font-size:25px;
  
/*margin-left: 120px;
margin-right: 120px;*/

  }


   #date{
   	color:#FF5E00;
   	margin-top:30px;
   	margin-right: 60px;
    float:right;
  	text-align: center;
  font-size:20px;
font-weight:bold;

}

  


  #header{font-size:20px;
font-weight:bold;
background-color: #FF5E00;
/*background-color:#FFFF66;*/
color: white;
text-align:center;
/*border: 2px solid white;
*/padding: 5px;
margin-left: 120px;
margin-right: 120px;
height:100px;
border-radius:15px;}


#content{width: 500px;
	font-size:20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
 }