#header{color: white;
margin-left:80px;}




body{font-family: 'Signika', sans-serif;
background-color: #001A00;
font-size: 20px;
color: white;
/*background-image: url("sport-balls-background-seamless.jpg");*/

/*background-image: url("284881_original.jpg");*/
background-image: url("BG-Basketball_Court1.jpg");
width: 100%; 
    height: 100%; 
    /*position: fixed;*/ 
    left: 0px; 
    top: 0px; 
    /*z-index: -1; */
/*background-repeat:no-repeat;*/
/*background-size: 100%;*/
}

#anup{font-size:40px;
font-weight:normal;
color: purple;
border-radius:15px;
text-align:center;
background-color: orange;
border: 1px solid black;
padding: 10px 10px 10px 10px;
margin: 100px 80px 20px 80px;
height:60px;
box-shadow: 10px 10px 5px #888888;
text-decoration:none;}

#blog{font-size:40px;
font-weight:normal;
color: purple;
border-radius:15px;
text-align:center;
background-color: orange;
border: 1px solid black;
padding: 10px 10px 10px 10px;
margin: 20px 80px 20px 80px;
height:60px;
box-shadow: 10px 10px 5px #888888;
text-decoration:none;}


a:link{color:black;}
a:hover{color:blue;}
a:visited{color:orange;}
a:active{color: white;}

img.small1{width:40px;
height:40px;
position:absolute; TOP:80px; LEFT:80px;}


img.small11{width:100px;
height:100px;
position:absolute; TOP:80px; LEFT:80px;}


img.small2{width:40px;
height:40px;
position:absolute; TOP:80px; RIGHT:80px;
}

img.small3{width:40px;
position:absolute; TOP:80px; RIGHT:150px;
}
img.small4{width:40px;
	height:40px;
position:absolute; TOP:80px; LEFT:150px;;
}

.skils{
	font-weight:normal;
color: black;margin-left:80px;margin-top: 80px;
}
.sanfran{
    font-weight:normal;
color: black;margin-left:80px;margin-top: 80px;
}
#skills{font-size:40px;
font-weight:normal;
color: purple;
border-radius:15px;

text-align:center;
background-color: orange;
border: 1px solid black;
padding: 10px 10px 10px 10px;
margin: 20px 80px 20px 80px;
height:60px;
box-shadow: 10px 10px 5px #888888;
text-decoration:none;}

#interests{font-size:40px;
font-weight:normal;
color: purple;
border-radius:15px;
text-align:center;
background-color: orange;
border: 1px solid black;
padding: 10px 10px 10px 10px;
margin: 20px 80px 20px 80px;
box-shadow: 10px 10px 5px #888888;
height:60px;
text-decoration:none;}

#images{font-size:40px;
font-weight:normal;
color: purple;
border-radius:15px;
text-align:center;
background-color: orange;
border: 1px solid black;
padding: 10px 10px 10px 10px;
margin: 20px 80px 20px 80px;
box-shadow: 10px 10px 5px #888888;
height:60px;
text-decoration:none;}



