body{background-color: #001A00;
font-weight:normal;
color: white;}

body{font-family: 'Signika', sans-serif;}

#code{font-size:30px;
font-weight:lighter;
color:orange;
text-align:left;
border-radius:15px;
background-color: gray;
width:400px;
height:400px;
padding: 10px; 
border:2px solid black;
margin-top: 50px;
margin-bottom: 70px;
margin-left: 10px;
margin-right: 50px;

}

#code1{font-size:30px;
font-weight:lighter;
color:orange;
text-align:left;
border-radius:15px;
background-color: gray;
width:400px;
height:480px;
padding: 10px; 
border:2px solid black;
margin-top: 50px;
margin-bottom: 70px;
margin-left: 10px;
margin-right: 50px;

}

#code2{font-size:30px;
font-weight:lighter;
color:orange;
text-align:left;
border-radius:15px;
background-color: gray;
width:400px;
height:200px;
padding: 10px; 
border:2px solid black;
margin-top: 50px;
margin-bottom: 70px;
margin-left: 10px;
margin-right: 50px;

}

#header{font-size:20px;
font-weight:bold;
background-color: gray;
color:orange;
text-align:center;
border: 2px solid #ff0000;
padding: 5px;
margin-left: 120px;
margin-right: 120px;
height:100px;
border-radius:15px;}

#syntax{color: orange;}

#content{width: 500px;
	font-size:20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
 }

 #content1{width: 700px;
  font-size:20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
 }

a:link{color:orange;}
a:hover{color:blue;}
a:visited{color:orange;}
a:active{color: white;}


   #sidebar{font-size:20px;
   	border: 2px solid #ff0000;
   	color:orange;
   	text-align:center;
   	background-color: gray;
   	margin-top:30px;
   	width:200px;
   	height: 660px;
   	border-radius:15px;

	float:left;
*/


  }


   #date{
   	color:orange;
   	margin-top:30px;
   	margin-right: 60px;
    float:right;
  	text-align: center;
  font-size:20px;
font-weight:bold;
}

  