p {
    font-family: Arial;
    color: black;
    font-size: 20px;
}

h2 {
	font-family: Verdana;
	font-weight: bold;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
	color: #acd1b2;
}


body {
	background-color: #A3CCCC
}

.fav{
    font-family: Arial;
    color:#0000CD
    text-align: center;
     font-size: 20px;}

     .heading{
    font-family: Arial;
    font-weight: bold;
    color:#0000CD
    text-align: center;
     font-size: 40px;}

     #Bold{font-family: Verdana;
	font-weight: bold;
	text-align: center;
}