
#header{font-size:20px;
font-weight:bold;
color:black;
text-align:center;
border: 2px solid #ff0000;
padding: 5px;
margin-left: 120px;
margin-right: 120px;
height:100px;}


#content{font-size:30px;
font-weight:lighter;
color:purple;
text-align:left;
/*border around content*/

width:300px;
height:500px;
padding: 50px; 
border:10px solid black;
margin-top: 200px;
margin-bottom: 200px;
margin-left: 400px;
margin-right: 50px;

/*space between border and content*/


/* space between 2 boxes*/



  }


    #sidebar{font-size:30px;
font-weight:bold;
color:purple;
text-align:center;

/*border around content*/

border: 10px solid green;
height: 400px;
width:100px;
/*space between border and content*/
padding: 10px; 
/* space between 2 boxes*/
margin-top: -800px;
margin-bottom: 50px;

	float: left;



  }

    #pic{

margin-left:900px;
float: right;

/*border around content*/



  }



a:link{color:blue;}
a:hover{color:black;}
a:visited{color:green;}
a:active{color: yellow;}



  #footer{border:10px solid black;
  	clear:both;
  	text-align: center;
  font-size:30px;
font-weight:bold;}

  